canvas {
  background-color: aqua;
  border-radius: 20px;
  border: 5px solid black;
  /* max-width: max-content;
  max-height: max-content; */
}

#draw-area {
  background-color: blue;
  width: 75vw;
  max-height: 80vh;
  max-width: fit-content;
  overflow: scroll;
  padding: 20px;
}

#stat-area {
  display: grid;
  max-height: 80vh;
  align-items: center;
  justify-items: center;
  grid-template-rows: 30%;
  width: 25vw;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-basis: content;
  justify-content: center;
}

table {
  border: 5px solid black;
  width: max-content;
  border-radius: 5vw;
  width: 10vw;
  height: 10vw;
  color: white;
  background-color: black;
}

td {
  text-align: center;
}

.node_id {
  background-color: white;
  color: black;
  font-weight: bold;
  align-self: stretch;
  border-radius: inherit;
}

.edge_node_id {
  background-color: white;
  color: black;
  border: 10px solid black;
  font-weight: bold;
  align-self: stretch;
  border-radius: 20px;
}

#adj-list-view {
  margin: 5vw;
  grid-row: 2 / 3;
  display: block;
  border-radius: 5px;
  width: 20vw;
  height: 60%;
  overflow: scroll;
}

#adj-list-view table {
  border-radius: 5px;
  width: 20vw;
  min-height: 100%;
  height: fit-content;
  display: block;
}

option{
  font-family: monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  background-color: rgb(46, 46, 46);;
}

::-webkit-resizer {
    background-color: rgb(46, 46, 46);
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(46, 46, 46);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border: solid 2px black;
  border-radius: 5px;
  transition: all 2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 194, 194); 
}