canvas {
  background-color: white;
  border: 5px solid rgb(255, 255, 255);
  margin: 10px;
  border-radius: 100px;
  transition: all .2s;
  /* max-width: max-content;
  max-height: max-content; */
}

canvas:hover {
  border-radius: 0px;
  transform: scale(1);
}

* {
  user-select: none;
}

textarea {
  user-select: text;
}

body {
  background-color: black;
}


#draw-area {
  background-color: black;
  width: 75vw;
  max-height: 80vh;
  max-width: fit-content;
  overflow: scroll;
}

button {
  background-color: white;
}

button, select {
  border-radius: 1px;
  margin: 10px;
  border: 1px solid black;
  transition: all .2s;
}

button:hover, select:hover{
  border-radius: 0px;
  margin: 1px;
  border: 10px solid white;
}

select:focus {
  border-radius: 0px;
  margin: 1px;
  border: 10px solid white;
}


#stat-area {
  display: grid;
  max-height: 80vh;
  align-items: center;
  justify-items: center;
  grid-template-rows: 30%;
  width: 25vw;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-basis: content;
  justify-content: center;
}

table {
  border: 5px solid black;
  width: max-content;
  border-radius: 5vw;
  width: 10vw;
  height: 10vw;
  color: white;
  background-color: black;
}

td {
  text-align: center;
}

.node_id {
  background-color: white;
  color: black;
  font-weight: bold;
  align-self: stretch;
  border-radius: inherit;
}

.edge_node_id {
  background-color: white;
  color: black;
  border: 10px solid black;
  font-weight: bold;
  align-self: stretch;
  border-radius: 20px;
}

#adj-list-view {
  margin: 5vw;
  grid-row: 2 / 3;
  display: block;
  border-radius: 5px;
  width: 20vw;
  height: 60%;
  overflow: scroll;
}

#adj-list-view table {
  border-radius: 5px;
  width: 20vw;
  min-height: 100%;
  height: fit-content;
  display: block;
}

option{
  font-family: monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  background-color: black;
}

::-webkit-resizer {
    background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: white; 
  border: solid 2px black;
  border-radius: 5px;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(75, 75, 75); 
}